
.landing {
    margin-top: 100px;
    background-color: white !important;
    color: white;
    text-align: center;
}

body {
    background-color: white;
}


.landing h2 {
    color: rgb(190, 63, 55)
}

.landing p {
    color: black;
}

.rounded-circle {
    text-align: center;
}

.btn li {
    list-style-type: none;
}

.btn {
    display: block;
    width: 50%;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border: 2px solid rgb(34, 34, 36) !important;
    text-transform: uppercase;
    background-color: rgb(190, 63, 55) !important;
}

.btn:hover {
    color: white;
    background-color: rgb(34, 34, 36) !important;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .landing h2{
        font-size: 50px;
    }
    .landing{
        margin-top: 1px;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    .landing h2{
        font-size: 50px;
    }
    .landing{
        margin-top: 1px;
    }
}