.post-card {
    margin-top: 0.5rem;
    padding: 0.5rem;
    position: relative;
}

.card h1 {
    color: black !important;
    font-size: 3em;
}

.post-card h4 {
    margin: 0.25rem 0;
}

.post-user {
    font-size: x-small;
}

.post-date {
    font-size: xx-small;
}

.delete-post-btn {
    background-color: rgb(190, 63, 55) !important;
    border: 2px solid rgb(34, 34, 36);
    color: white;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    border-radius: 2px;
    font-size: 1.5em;
}

.edit-post-btn {
    background-color: rgb(190, 63, 55) !important;
    border: 2px solid rgb(34, 34, 36);
    color: white;
    position: absolute;
    top: 0.25rem;
    right: 3rem;
    border-radius: 2px;
    font-size: 1.5em;
}

.save-post-btn {
    background-color: rgb(190, 63, 55) !important;
    border-color: rgb(34, 34, 36);
    margin: 1rem auto;
    border-radius: 2px;
    padding: 0.5rem;
    color: white;
    font-weight: 500;
}

.edit-post-btn:hover {
    background-color: rgb(34, 34, 36) !important;
}

.delete-post-btn:hover {
    background-color: rgb(34, 34, 36) !important;
}