#carousel img {
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    object-fit: cover;
}

#carousel {
    width: 100vw;
    height: 100vh;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, .5) !important;
    border-radius: 20px;
}

.carousel-caption h5 {
    font-size: 2.75em;
}

.carousel-caption p {
    font-size: .8em;
    padding: 0, 1em, 0em, 1em;
}


@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    #carousel img {
        width: 100%;
        max-height: 35vh !important;
        overflow: hidden;
        object-fit: cover;
    }
    
    #carousel {
        width: 100vw;
        height: 35vh !important;
    }
    
    .carousel-caption h5 {
        font-size: 2em;
    }
    .carousel-caption p {
        display: none;
    }
    
}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    #carousel img {
        width: 100%;
        max-height: 35vh !important;
        overflow: hidden;
        object-fit: cover;
    }
    
    #carousel {
        width: 100vw;
        height: 35vh !important;
    }
    
    .carousel-caption h5 {
        font-size: 2em;
    }
    .carousel-caption p {
        display: none;
    }
}