.bg-footer {
    background-color: lightslategray;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
   
    
}

.footer-copyright {
    color: blue;
}

p {
    color: white;
}

.links {
    text-align: center;
}

.page-footer {
    height: 400px;
    padding-bottom: 2.7em;

}

.d-flex {
    margin: 0;
    padding: 0;
}

.empty-div {
    padding: 0;
}

.pb-3 {
    padding: 0;
}


   
