html, body {
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


h4, p {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--container-bg-color);
}

#home-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

#cities-container {
  overflow: scroll;
  width: 40%;
  max-height: 120vh
}

#posts-container {
  overflow: scroll;
  width: 60%;
  max-height: 120vh;
}

#city-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-detail img {
  width: 90%;
  border-radius: 4px;
}

#city-detail h1 {
  color: #007bff;
  margin: 0.25rem 0;
  text-align: center;
}

#city-detail div {
  margin-bottom: 0.25rem;
}

#city-detail button {
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  #cities-container {
    display: none;
  }
  
  #posts-container {
    width: 100%;
    padding: 0;
  }
}

/*  FOOTER  */
.site-footer {
  background-color:rgb(34, 34, 36);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a {
  color:rgb(95, 95, 95);
}

.site-footer a:hover {
  color: white;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block
}

.footer-links a {
  color:#737373
}

.footer-links.inline li {
  display:inline-block
}

.copyright-text {
  margin: 0;
  text-align: center;
}

@media (max-width:991px) {
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px) {
  .site-footer
  {
    padding-bottom:0
  }
}
