.city-image {
  height: 100px;
  width: 100px;
  object-fit: cover;

}

.city-card {
  margin-bottom: 0.5rem;
}

.card-header {
  padding: 0.5rem;
}

.is-active > div {
  background-color: rgb(190, 63, 55)  !important;
  color: white;
}